@font-face {
  font-family: Gopher Display;
  src: url('fonts/GopherDisplay-Bold.ttf');
}

@font-face {
  font-family: Chivo;
  src: url('fonts/Chivo-Regular.ttf');
}

.main-window {
     -fx-background-color: white;
}

.recipe-list-pane {
     -fx-font-family: 'Gopher Display', sans-serif;
     -fx-background-color: white;
     -fx-padding: 8;
}

.result-pane {
     -fx-font-family: 'Gopher Display', sans-serif;
     -fx-background-color: white;
     -fx-padding: 8 8 8 0;
}

.command-box-pane {
     -fx-font-family: 'Chivo', sans-serif;
     -fx-background-color: white;
     -fx-padding: 0 8 8 8;
}

.creme-control-bg {
      -fx-inner-control-background: #fdfbe8;
      -fx-background-color: #fdfbe8;
      -fx-background-radius: 10;
}

.creme-control-bg .scroll-pane {
    -fx-background-color: transparent;
}
.creme-control-bg .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.creme-control-bg .scroll-pane .content{
    -fx-background-color: transparent;
}

.card {
     -fx-background-color: #FFEAC1;
     -fx-background-radius: 5;
}

.list-cell:selected .card {
     -fx-border-color: #947145;
     -fx-border-width: 2;
     -fx-border-radius: 5;
}

.card #name {
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-padding: 0 0 4 0;
}

.cell_small_label {
     -fx-text-fill: #947146;
}

.list-cell {
    -fx-background-color: #fdfbe8;
    -fx-background-radius: 5;
}

#tags  {
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-padding: 10 0;
}

#tags .label {
     -fx-text-fill: white;
     -fx-background-color: #947146;
     -fx-background-radius: 5;
     -fx-background-insets: -3;
     -fx-padding: 1 3;
}

#resultDisplay {
     -fx-font-size: 20;
}

#commandTextField {
     -fx-text-fill: #947145;
     -fx-prompt-text-fill: #947145;
}

.card #steps {
    -fx-font-family: 'Chivo', sans-serif;
    -fx-font-size: 14;
}

.card #completionTime {
    -fx-font-family: 'Chivo', sans-serif;
    -fx-font-size: 14;
}

.card #tags {
    -fx-font-family: 'Chivo', sans-serif;
    -fx-font-size: 14;
}

